/* Style for the home-page */

h2
{
    text-align: center;
    font-size: 40px;
    font-family: 'Rubik Pixels', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
}

.produtos, .brands
{
    height: 400px;
}

.produtos
{
    display: flex;
    justify-content: space-between;
}

.produtos div
{
    float:left;
    max-width: 300px;
    max-height: 350px;
    text-align: center;
    
    box-shadow: 10px 10px 8px #888888;

    border: black solid 2px;
    border-radius: 10px;

    transition: all 0.3s ease-in-out;
}

.produtos div:hover
{
    background-color: #999;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);    
}

.produtos h3
{
    text-align: center;
    font-family: 'Rubik Pixels', cursive;
    font-family: 'Sedgwick Ave Display', cursive;   
}

.produtos img
{
    width: 200px;
}

.produtos p, .marcas p
{
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    padding: 20px;
}

.marcas p
{
    text-align: justify;
    margin: 0 0 10px;
}

.marcas img
{
    width: 200px;
    filter: invert(20%);
}