.produtos-container
{
    display: flex;
    flex-direction: column;
}

.camisetas-container, .shorts-container, .calcas-container, .tenis-container
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

h3 {
    font-size: 30px;
    font-family: 'Graduate', cursive;
    text-align: center;
    padding: 10px; 
    background-color: gray; /* Define a cor de fundo para cinza */
}
