body
{    
    background-color: #ffffff;

    display: flex;

    flex-direction: column;
}

.blur
{
    z-index: 0;
    filter: blur(4px); 
    pointer-events: none;
}

.put-behind
{
    z-index: 0;
}