.product-container
{
    width: 98%;
    display: flex;
    align-items: center;
}

.product-info-container
{
    width: 800px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: rgb(122, 203, 250);

    margin-bottom: 10px;
}


.product-info-container .avatar
{
    width: 200px;
    height: 200px;
    margin-right: 16px;
}
  
.product-info-container .details 
{
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions
{
    margin-left: auto;
}

.product-info-container .actions > svg
{
    font-size: 24px;
}
  
.product-value-container
{
    color: black;
    text-align: center;
    margin: auto;
}