.finalizar-container
{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.finalizar-detalhes-container
{
    border: 2px solid black;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: black;
    background-color: #bbb;
}

.cupom-container, .address-container, .credit-card-container
{
    display: flex;
    align-items: center;
    padding: 10px;
}

.add-carrinho-buttons-container
{
    display: flex;
    margin: auto;
    justify-content: space-around;
}