/* General Style for the pages: body, header, and footer */
@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
}

body
{
    background-color: #ccc;
}

header
{
    height: 125px;
    padding-top: 15px;

    align-items: center;
    display: flex;

    margin-bottom: 20px;
}

header, .produtos, .marcas
{
    border-bottom: black solid 2px;
    border-radius: 2px;
}

header h1
{
    font-size: 60px;
    font-family: 'Rubik Pixels', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
}

#links
{
    margin-left: auto;
}

ul li
{
    display: inline;
    list-style-type: none;
}

.img-logo
{   
    display: inline-block;
    filter: invert(80%);

    width: 155px;
}

.botao-header 
{
    display: inline-block;
    background-color: #333;
    color: #f2f2f2;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
  
.botao-header:hover
{
    background-color: #444;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

a, a:visited
{
    color: inherit;
    text-decoration: none;
}

footer
{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #bbb;

    border-top: black solid 2px;
}

footer > p
{
    font-size: 12px;
}
  
footer > a 
{
    font-size: 50px;
    margin-right: 50px;
}